@import 'fonts.css';
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'roboto';
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1350px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}


.header__nav {
    padding: 48px 0;
}

.header__nav .container {
    display: flex;
    justify-content: space-between;
}

.nav__list {
    display: flex;
    column-gap: 40px;
}


.nav__icons {
    display: flex;
    column-gap: 20px;
}

.nav__link a{
    color: #2C3847;
    font-size: 20px;
    font-weight: 400;
    font-family: "roboto";
}

.nav__title {
    max-width: 160px;
    width: 100%;
    border-radius: 27px;
background: #494949;
}


