@import 'fonts.css';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'roboto';
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1350px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}


.about {
    padding: 0 0 0 444px;
    font-size: 42px;
    min-height: 55px;
}

.about__txt {
    padding: 0 0 0 377px;
    min-height: 100px;
}

.txt {
    width: 250px;
}

.container .cards {


.section__end {
    background-color: #fff;
    width: 100%;
    min-height: 420px;
  text-align: center;
   align-items: center;
   justify-content: center;
   display: flex;
   flex-direction: column;
    
}
.txt-1 {
    font-size: 36px;
    color: #151414;

}
.txt__p {
    color: #3B433E;
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 60px;
}
.main__form {
    max-width: 515px;
    width: 100%;
    height: 60px;
}
.form {
    column-gap: 15px;
}
.main__form-inp {
    max-width: 330px;
    min-height: 60px;
    border-radius: 165px;
    border: 1.5px solid #F5F5F5;
    padding-left: 20px;
}
.btn {
    max-width: 170px;
    min-height: 60px;
    border-radius: 165px;
    background: #2C9553 100%;
    color: #fff;
    padding: 17px 32px;

.header__nav {
    padding: 48px 0;
}

.header__nav .container {

    display: flex;
    justify-content: space-between;
}


.card__about {
    padding: 30px 0 30px 0;
    min-height: 44px;
}

.card__about2 {
    padding: 30px 0 30px 0;
    min-height: 44px;
}

.txt2 {
    width: 250px;
}

.card__about3 {
    padding: 30px 0 30px 0;
    min-height: 44px;
}

.txt3 {
    width: 250px;
}

.number {
    padding: 0 0 0 350px;
}

.nav__list {
    display: flex;
    column-gap: 40px;
}


.nav__icons {
    display: flex;
    column-gap: 20px;
}

.nav__link a{
    color: #2C3847;
    font-size: 20px;
    font-weight: 400;
    font-family: "roboto";
}

.nav__title {
    max-width: 160px;
    width: 100%;
    border-radius: 27px;
background: #494949;

}



